db:
  host: db
  name: dtv
  user: dtv-discord
  password: dtv-discord
redis:
  host: redis
  port: 6379
discord:
  token: YOUR_DISCORD_TOKEN
mirakc:
  host: tuner
  port: 40772
log:
  level: DEBUG
recording:
  basepath: "/recorded"
  contentpathtemplate: "{{.Program.Name | fold}}-{{.Program.StartTime.Format \"20060102-1504\"}}-{{.Service.Name | fold}}.m2ts"
encoding:
  enabled: true
  basepath: "/encoded"
  ext: .mp4
  encodecommandtemplate: "ffmpeg -i {{.InputPath}} {{.OutputPath}} -y"
transcription:
  enabled: true
  basepath: "/transcribed"
  ext: .txt
match:
  kanamatch: true
  fuzzymatch: true
openai:
  enabled: true
  token: YOUR_OPENAI_API_TOKEN
