version: '3.8'
services:
  bot:
    image: ghcr.io/kounoike/dtv-discord-go:latest
    volumes:
      - ./config.yml:/config.yml:ro
      - /nas/video/recorded:/recorded:rw
    environment:
      TZ: Asia/Tokyo
    links:
      - tuner:tuner
      - db:db
    restart: always
  indexer:
    build: ../indexer
    volumes:
      - /nas/video/index:/index:rw
      - /nas/video/transcribed:/transcribed:rw
    links:
      - db:db
    restart: always
    init: true
  db:
    image: mariadb:latest
    volumes:
      - mysql-db:/var/lib/mysql
    environment:
      MYSQL_USER: dtv-discord
      MYSQL_PASSWORD: dtv-discord
      MYSQL_ROOT_PASSWORD: dtv-discord
      MYSQL_DATABASE: dtv
      TZ: "Asia/Tokyo"
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --performance-schema=false --expire_logs_days=1 --default-authentication-plugin=mysql_native_password
    restart: always
  tuner:
    # image: mirakc/mirakc
    build: ./mirakc/docker
    privileged: true
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./mirakc/epg:/var/lib/mirakc/epg:rw
      - ./mirakc/config/config.yml:/etc/mirakc/config.yml:ro
      - /nas/video/recorded:/recorded:rw
      - /var/run/pcscd:/var/run/pcscd:rw
    devices:
      - /dev/px4video0
      - /dev/px4video1
      - /dev/px4video2
      - /dev/px4video3
      - /dev/px4video4
      - /dev/px4video5
      - /dev/px4video6
      - /dev/px4video7
      - /dev/px4video8
      - /dev/px4video9
      - /dev/px4video10
      - /dev/px4video11
      - /dev/bus
    environment:
      TZ: Asia/Tokyo
      MIRAKC_DEBUG_CHILD_PROCESS: ''
      RUST_LOG: 'info,mirakc=info'
      MIRAKC_ARIB_NO_TIMESTAMP: ''
      MIRAKC_ARIB_LOG: 'info'
    restart: always
  worker:
    build:
      context: ./worker
      args:
        BASE_IMAGE: debian # for CPU/QSV
        TAG_NAME: bullseye-slim # for CPU / QSV
#        BASE_IMAGE: nvidia/cuda # for CUDA
#        TAG_NAME: 11.7.1-cudnn8-runtime-ubuntu22.04 # for CUDA
    volumes:
      - ./config.yml:/config.yml:ro
      - /nas/video/recorded:/recorded:rw
      - /nas/video/encoded:/encoded:rw
      - /nas/video/transcribed:/transcribed:rw
    environment:
      TZ: Asia/Tokyo
    links:
      - redis:redis
    restart: always
    command: [ /dtv-discord-go, default ]
  encoder:
    build:
      context: ./worker
      args:
        BASE_IMAGE: debian # for CPU/QSV
        TAG_NAME: bullseye-slim # for CPU / QSV
#        BASE_IMAGE: nvidia/cuda # for CUDA
#        TAG_NAME: 11.7.1-cudnn8-runtime-ubuntu22.04 # for CUDA
#    deploy: # for CUDA
#      resources:
#        reservations:
#          devices:
#            - driver: nvidia
#              capabilities: [ "gpu", "video" ]
    volumes:
      - ./config.yml:/config.yml:ro
      - /nas/video/recorded:/recorded:rw
      - /nas/video/encoded:/encoded:rw
    environment:
      TZ: Asia/Tokyo
    links:
      - redis:redis
    restart: always
    devices:
      - /dev/dri
    command: [ /dtv-discord-go, encode ]
  transcriber:
    build:
      context: ./worker
      args:
        BASE_IMAGE: debian # for CPU/QSV
        TAG_NAME: bullseye-slim # for CPU / QSV
#        BASE_IMAGE: nvidia/cuda # for CUDA
#        TAG_NAME: 11.7.1-cudnn8-runtime-ubuntu22.04 # for CUDA
#    deploy: for CUDA
#      resources:
#        reservations:
#          devices:
#            - driver: nvidia
#              capabilities: [ "gpu", "video" ]
    volumes:
      - ./config.yml:/config.yml:ro
      - /nas/video/recorded:/recorded:rw
      - /nas/video/encoded:/encoded:rw
      - /nas/video/transcribed:/transcribed:rw
    environment:
      TZ: Asia/Tokyo
    links:
      - redis:redis
    restart: always
    command: [ /dtv-discord-go, transcribe ]
  redis:
    image: redis:latest
    volumes:
      - redis-db:/data
    command: redis-server --appendonly yes
    restart: always
  frontend:
    build: ../frontend
    restart: always
  web:
    build: ../docker-compose/web
    links:
      - frontend:frontend
      - tuner:tuner
    volumes:
      - /nas/video/recorded:/recorded:ro
      - /nas/video/encoded:/encoded:ro
      - /nas/video/transcribed:/transcribed:ro
      - /nas/video/index:/index:ro
      - ts-state:/var/lib/tailscale:rw
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    environment:
      TZ: Asia/Tokyo
      TS_HOSTNAME: tv-stg
    restart: always

volumes:
  mysql-db:
  redis-db:
  ts-state:
