version: '3.8'
services:
  bot:
    image: ghcr.io/kounoike/dtv-discord-go:latest
    volumes:
      - ./config.yml:/config.yml:ro
    environment:
      TZ: Asia/Tokyo
    links:
      - tuner:tuner
      - db:db
    restart: always
  db:
    image: mariadb:latest
    volumes:
      - mysql-db:/var/lib/mysql
    environment:
      MYSQL_USER: dtv-discord
      MYSQL_PASSWORD: dtv-discord
      MYSQL_ROOT_PASSWORD: dtv-discord
      MYSQL_DATABASE: dtv
      TZ: "Asia/Tokyo"
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --performance-schema=false --expire_logs_days=1 --default-authentication-plugin=mysql_native_password
    restart: always
  tuner:
    # image: mirakc/mirakc
    build: ./mirakc/docker
    privileged: true
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - epg-db:/var/lib/mirakc/epg:rw
      - ./mirakc/config/config.yml:/etc/mirakc/config.yml:ro
      - ./mirakc/recorded:/recorded:rw
      - /var/run/pcscd:/var/run/pcscd:rw
    devices:
      - /dev/px4video0 # for PX-W3U4
      - /dev/px4video1
      - /dev/px4video2
      - /dev/px4video3
      # - /dev/dvb # for PX-S1UD
      - /dev/bus
    environment:
      TZ: Asia/Tokyo
      MIRAKC_DEBUG_CHILD_PROCESS: ''
      RUST_LOG: 'info,mirakc=info'
      MIRAKC_ARIB_NO_TIMESTAMP: ''
      MIRAKC_ARIB_LOG: 'info'
    restart: always
  # 自動エンコード機能用なので自動エンコードを使わない場合はコメントアウトして外してOK
  worker:
    build: ./worker
    volumes:
      - ./config.yml:/config.yml:ro
      - ./mirakc/recorded:/recorded:rw
      - ./mirakc/encoded:/encoded:rw
    environment:
      TZ: Asia/Tokyo
    links:
      - redis:redis
    restart: always
  # 自動エンコード機能用なので自動エンコードを使わない場合はコメントアウトして外してOK
  redis:
    image: redis:latest
    volumes:
      - redis-db:/data
    command: redis-server --appendonly yes

volumes:
  mysql-db:
  epg-db:
