worker_processes 1;
error_log /var/log/nginx/error.log;

events {
  worker_connections 1024;
}

http {
  server_tokens off;

  access_log /var/log/nginx/access.log;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  resolver 127.0.0.11 ipv6=off;
  resolver_timeout 1s;

  gzip on;
  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 10;
  keepalive_requests 5;
  keepalive_disable msie6 safari;

  map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
  }

  proxy_redirect off;
  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-By $host;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-Server $host;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header HTTPS $https;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection $connection_upgrade;

  server {
    listen 443 ssl http2;
    server_name __SERVER_NAME__;
    ssl_certificate /var/lib/tailscale/cert.pem;
    ssl_certificate_key /var/lib/tailscale/key.pem;

    ssl_stapling on;
    ssl_stapling_verify on;

    ssl_dhparam /var/lib/tailscale/dhparam.pem;

    ssl_session_timeout 30m;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers kEECDH+AES128:kEECDH:kECDHE:kEDH:-3DES:kRSA+AES128:kEDH+3DES:DES-CBC3-SHA:!RC4:!aNULL:!eNULL:!MD5:!EXPORT:!LOW:!SEED:!CAMELLIA:!IDEA:!PSK:!SRP:!SSLv2:!DSS;
    ssl_prefer_server_ciphers on;

    add_header Strict-Transport-Security max-age=31536000;

    location / {
      proxy_pass http://frontend:3000;

      add_header Cross-Origin-Embedder-Policy require-corp;
      add_header Cross-Origin-Opener-Policy same-origin;
    }

    location /api/ {
      proxy_pass http://tuner:40772;
      if ($request_method = 'OPTIONS') {
	      return 204;
      }
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
      add_header 'Access-Control-Allow-Headers' '*';
      add_header 'Access-Control-Max-Age' 1728000;
    }

    location /m2ts/ {
      alias /recorded/;
    }

    location /encoded/ {
      alias /encoded/;
    }

    location /index/ {
      alias /index/;
    }
  }
}

